* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #8a51fc;
}

.logo {
  width: 300px;
  margin: 20px auto;
  display: block;
}

main {
  width: 375px;
  background: #f4f4f4;
  border-radius: 20px;
  margin: 0 auto 40px;
  display: block;
  padding: 44px 24px 23px;
}

label {
  color: #777;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

select, input {
  border-radius: 4px;
  border: 1px solid #bbb;
  background: #fff;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-size: 16px;
  font-weight: 700;
  color: #555555;
  cursor: pointer;
}

button {
  background: #772fd3;
  border-radius: 5px;
  width: 100%;
  border: none;
  height: 48px;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

button:active {
  opacity: 0.5;
}

section {
  border: 1px solid #772fd3;
  border-radius: 20px;
  margin-top: 36px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-img {
  margin: 15px 0;
}

.currency-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.currency {
  color: #777;
  font-size: 14px;
}

.currency-value {
  color: #555;
  font-weight: 700;
  font-size: 20px;
}
